body {
  background-color: #cccccc;
  width: 100vw;
  height: 100vh;
  /*This prevents body from shaking when cards animate*/
  /*-webkit-backface-visibility: hidden;*/
  /*-webkit-transform: translateZ(0) scale(1.0, 1.0);*/
  overflow: hidden;
}

.body {
  /*background-color: pink;
  display: flex;
  justify-content: center;*/
}

.wrapper {
  width: 70vw;
  height: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  /*background: rgba(255, 0, 0, 0.5);*/

}

.card {
  width: 100%;
  height: 100%;
  /*padding:10px;*/
  /*margin: 5px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  /*border: 2px solid white;*/
}


.card:hover {
  filter: brightness(65%);
}

#total {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
